@model List<ParkhausMVC.Models.Umsatz_pro_Monat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Umsatz pro Monat</h2>
    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jahr
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Alle</a></li>
                @foreach (var jahr in @Model.GroupBy(m => m.Jahr).Select(group => group.First()))
                {
                    <li><a href="#">@jahr.Jahr</a></li>
                }
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Monat
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Alle</a></li>
                @foreach (var monat in @Model.GroupBy(m => m.Monat).Select(group => group.First()))
                {
                    <li><a href="#">@monat.Monat</a></li>
                }
            </ul>
        </div>

    </div>

    <table class="table table-hover">
        <thead>
            <tr><td>Typ</td><td>Monat</td><td>Jahr</td><td class="text-right">Total Umsatz</td></tr>
        </thead>
        <tbody>
            @if (Model.Count != 0)
            {

                foreach (var umsatz in Model)
                {
                    <tr>
                        <td>@umsatz.Typ</td>
                        <td>@umsatz.Monat</td>
                        <td>@umsatz.Jahr</td>
                        <td class="text-right">@umsatz.Preis CHF</td>
                    </tr>
                }
                <tr><td colspan="3">Summe:</td> <td class="text-right"> @Model.Sum(u => u.Preis) CHF</td></tr>
            }
        </tbody>
    </table>
</div>
