@model List<ParkhausMVC.Models.Tarif>
@{
    ViewBag.Title = "Konfiguration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Konfiguration</h2>
    

    <div class="row">
        <div class="col-md-3">
            <h3>Tarife</h3>
            <h4>Normaltarif</h4>
            <table id="tbl-tagestarif" class="table table-hover tbl-settings">
                <tbody>
                    <tr><th>Gültig ab Zeit</th><th>Preis</th><th colspan="2"></th></tr>
                    @foreach (var tarif in @Model.Where(t=>t.TarifTyp== 1))
                    {
                    
                    <tr data-tarifID="@tarif.TarifID" class="konfiguration-tr"><td><input type="text" readonly value="@tarif.Zeit" name="txt-bezeichnung" class="stockwerk-bezeichnung" />  </td><td><input type="number" readonly value="@tarif.Preis" name="txt-anzahl" class="stockwerk-bezeichnung" /></td><td><i id="stockwerk-editieren"  class="glyphicon glyphicon-pencil button" data-name="edit"> </i><i class="glyphicon glyphicon-ok button" data-name="save"> </i> </td><td><i class="glyphicon glyphicon-remove button" data-name="remove"> </i> </td> </tr>
                    }
                    <tr class="konfiguration-tr"><td width="80%"><input type="number" placeholder="Gültig ab Zeit" name="txt-gueltig_ab" class="stockwerk-bezeichnung" /> </td><td><input type="number" placeholder="Anzahl Parkplätze"  name="txt-anzahl" class="stockwerk-bezeichnung" /></td><td><i id="stockwerk-editieren" class="glyphicon glyphicon-plus button"  data-name="add"> </i> </td><td><i class="glyphicon glyphicon-remove button" data-name="clear"> </i> </td> </tr>

                </tbody>
            </table>

            <h4>Wochenend und Feiertagstarif</h4>
            <table id="tbl-wochenendtarif" class="table table-hover tbl-settings">
                <tbody>
                    <tr><th>Gültig ab Zeit</th><th>Preis</th><th colspan="2"></th></tr>
                    @foreach (var tarif in @Model.Where(t => t.TarifTyp == 2))
                    {

                        <tr data-tarifID="@tarif.TarifID" class="konfiguration-tr"><td><input type="text" readonly value="@tarif.Zeit" name="txt-bezeichnung" class="stockwerk-bezeichnung" />  </td><td><input type="number" readonly value="@tarif.Preis" name="txt-anzahl" class="stockwerk-bezeichnung" /></td><td><i id="stockwerk-editieren" class="glyphicon glyphicon-pencil button" data-name="edit"> </i><i class="glyphicon glyphicon-ok button" data-name="save"> </i> </td><td><i class="glyphicon glyphicon-remove button" data-name="remove"> </i> </td> </tr>
                    }
                    <tr class="konfiguration-tr"><td width="80%"><input type="text" placeholder="Bezeichnung" name="txt-bezeichnung" class="stockwerk-bezeichnung" /> </td><td><input type="number" placeholder="Anzahl Parkplätze" name="txt-anzahl" class="stockwerk-bezeichnung" /></td><td><i id="stockwerk-editieren" class="glyphicon glyphicon-plus button" data-name="add"> </i> </td><td><i class="glyphicon glyphicon-remove button" data-name="clear"> </i> </td> </tr>

                </tbody>
            </table>
            <h4>Tagestarif</h4>
            <table id="tbl-wochenendtarif" class="table table-hover tbl-settings">
                <tbody>
                    <tr class="konfiguration-tr"><th>Preis</th><th></th></tr>
                    @foreach (var tarif in @Model.Where(t => t.TarifTyp == 3))
                    {

                        <tr data-tarifID="@tarif.TarifID" class="konfiguration-tr"><td><input type="number" readonly value="@tarif.Preis" name="txt-anzahl" class="stockwerk-bezeichnung" /></td><td><i id="stockwerk-editieren" class="glyphicon glyphicon-pencil button" data-name="edit"> </i><i class="glyphicon glyphicon-ok button" data-name="save"> </i> </td> </tr>
                    }
                
                </tbody>
            </table>



        </div>
        
      
     </div>
</div>